body{
    background-color: #89bbf0;
    color: black;
    font-family: sans-serif;
    line-height: normal;
}

h1 h2 h3{
    font-family: 'Times New Roman', Times, serif;

}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

.pricing{
    color: black;
    background-color: orange;
}

blockquote p{
    font-style: italic;
}

table,th,td{
    border: solid black 2px;
    border-collapse: collapse;
    text-align: center;
    
}
img{
    border: dotted 2px darkblue;
}