body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.6;
	margin: 0 auto;
	max-width: 40rem;
}

h1,
footer {
	text-align: center;
	/* Give me equal padding on all four sides */
	
}

section {
	background-color: rgb(205, 244, 205);
	/* Give me some padding only on the left and right */
	
}

article {
	color: rgb(255, 255, 255);
	/* Give me a background color that contrasts with my font color */
	

	/* Give me padding on the left/right that is larger than my padding on the top/bottom */
	

	/* Give me margin on one of my four sides so I don't touch the other articles  */
	
}

img {
	/* Remove the space underneath each image */
	
}