/* General Styles */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	max-width: 31.25rem;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.75rem;
}

p {
	margin: 0 0 1.5em;
}

a,
a:visited { 
	color: #347034;
}

a:hover,
a:focus {
	color: #234723;
}

a:focus {
	outline: 1px dotted #234723;
}

a:active {
	color: #ffffff;
	background-color: #234723;
}

section {
	margin-bottom: 3rem;
}

header,
footer {
	background-color: #eeeeee;
	text-align: center;
	padding: 1rem;
}

footer p {
	margin: 0;
}

/* Header Styles */
header {
	text-align: center;
}

nav ul {
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 1rem;
}

nav a {
	text-decoration: none;
}

/* Services Styles */
.services article {
	background-color: #caffca;
	padding: 1rem 2rem;
	margin-bottom: 2rem;
}

.services article h2 {
	font-size: 1.5rem;
	border-bottom: 2px solid currentColor;
}

.services a {
	display: block;
	width: 16rem;
	margin: 2rem auto;
	padding: 1rem;
	background-color: #347034;
	color: #ffffff;
	text-align: center;
	font-size: 1.125rem;
	text-decoration: none;
}
.services a:hover,
.services a:focus,
.services a:active {
	background-color: #234723;
}


/* Testimonials Styles */
.testimonials img {
	display: block;
	margin: 1rem auto;
	border-radius: 50%;
}

.testimonials article {
	text-align: center;
	margin-bottom: 2rem;
}

.testimonials blockquote p {
	display: inline-block;
	margin: 0;
}